<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="~{fragment/main}">
<head>

</head>
<body>
	<div layout:fragment="content" class="container mySpace">
	<div class="alert alert-info" th:if="${exit}">
		<p class="text text-center">Usuário com email errado</p>
	</div>
		<form th:action="@{/registrar}" th:object="${user}" method="post">
			<div class="form-group">
				<label for="email" class="form-control-label">Email</label>
				<input type="text" class="form-control" th:field="*{email}" id="email">
				<div class="text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="senha" class="form-control-label">Senha</label>
				<input type="password" class="form-control" th:field="*{senha}" id="senha">
				<div class="text text-danger" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
			</div>
			<div class="form-group">
				<label for="nome" class="form-control-label">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}" id="nome">
				<div class="text text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
			</div>
			<input type="submit" value="Submit" class="btn btn-success">
		</form>
	</div>
</body>
</html>